/* Footer */
.footer-bottom {
  background-color: #000000;
}

.footer-bottom .bottom-container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.footer-bottom ul.footer-menu {
  padding-left: 0;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom li a {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.footer-bottom img.footer-logo {
  margin-top: 70px;
  margin-bottom: 65px;
}

.footer-bottom .footer-text span.footer-showcase {
  color: #aeaeae;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
}

.footer-bottom .footer-text span.footer-showcase a {
  color: #aeaeae;
}

.footer-bottom .footer-text span.footer-copyright {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 20px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.footer-bottom .footer-text span.footer-copyright a {
  color: #FFFFFF;
}

.footer-bottom .footer-text span.footer-copyright a.footer-agent-img {
  font-weight: 800;
  text-decoration: underline;
}

.footer-bottom img.footer-realtor {
  margin-top: 35px;
  margin-bottom: 70px;
}
